.banner {
  object-fit: contain;
  max-width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: top center;
  color: aliceblue;
  margin-bottom: 15px;
}

.banner__content {
  margin-left: 4em;
  padding-top: 10em;
  max-height: 10em;
  max-width: 30em;
  margin-right: 2em;
}
@media (max-width: 550px) {
  .banner__content {
    padding-top: 5em;
  }
  h1.banner__title {
    font-size: 2.5rem;
  }
}

.banner__title {
  font-size: 3.5rem;
  padding-bottom: 0.1em;
  line-height: 1.2em;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.banner__overview {
  min-width: 10em;
  padding: 0.5em;
  line-height: 1.6;
  font-size: 12px;
  background-color: black;
  display: inline;
}

.banner__button {
  margin-top: 1em;
  cursor: pointer;
  font-size: 1rem;
  color: #e5e5e5;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8em 1.4em;
  background-color: #1b1717;
  margin-bottom: 0.85em;
}

.banner__button:hover,
.banner__button:focus {
  color: #000;
  background-color: rgba(229, 229, 229, 0.7);
  transition: all 200ms;
}
