.details {
  padding: 3em 0 3em 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
@media (min-width: 992px) {
  .details {
    min-width: 700px;
  }
}

.details > div {
  margin: 4em 0 4em 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.details h3 {
  font-size: 30px;
  margin-bottom: 15px;
  /* text-align: center; */
}

.details p:last-child {
  margin-top: 30px;
  font-size: 12px;
}
.details .score {
  font-size: 35px;
}
/* .details p {
  border-top: 1px solid #5c423d;
} */

.details__left {
  padding: 20px;
  /* flex: 0 1 400px; */
  width: 70%;
  /* grow shrink basis */
}
.details__right {
  width: 30%;
}
.score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player {
  height: 550px;
  width: 80%;
  margin-bottom: 3em;
}
img {
  height: 100%;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc-container {
  max-width: 500px;
}
