.details {
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.details > div {
  margin: 4em;
}

.details h3 {
  font-size: 30px;
  margin-bottom: 15px;
  /* text-align: center; */
}

.details p:last-child {
  margin-top: 30px;
  font-size: 12px;
}
.details .score {
  font-size: 35px;
}
/* .details p {
  border-top: 1px solid #5c423d;
} */

.details__left {
  padding: 20px;
  flex: 0 1 400px;
  border-top: 3px solid #f4f4f4;
  border-bottom: 3px solid #f4f4f4;
  /* grow shrink basis */
}

.score-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
