.movie-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie-row img {
  width: 150px;
  height: 230px;
}
.movie {
  width: 150px;
  margin: 10px;
}
.movie p {
  font-size: 10px;
}

h2:before {
  position: absolute;
  content: "";
  height: 1em;
  margin: 5px 0 0 -10px;
  border-left: 3px solid #fa320a;
}
