@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  /* letter-spacing: 0.016em; */
  line-height: 1.5;
  font-family: "Padauk", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
a {
  color: black;
}
a:hover {
  color: #f5a962;
}
